<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczalnia elektronarzedzi</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="register.css">
    <script src="/validator.js"></script>
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: header"></div>
<div th:replace="fragments.html :: line"></div>
<div th:replace="fragments.html :: menu"></div>
<div th:replace="fragments.html :: line2"></div>

<div id="content">
    <div id="mainText"><h1> Zmiana hasla </h1></div>
    <div id="mainText"><h3> Uwaga! Po zatwierdzeniu nastapi
        wylogowanie i konieczne bedzie ponowne zalogowanie. </h3></div>
    <form method="post" id="register-form" onsubmit="return validate()">
        <input type="password" placeholder="Nowe haslo" th:field="*{ruser.password}" id="password">
        <br>
        <input type="password" placeholder="Powtorz nowe haslo" th:field="*{ruser.secondPassword}" id="secondPassword">
        <br>
        <input type="submit" value="Zatwierdz">
    </form>
</div>
</body>
</html>