<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczalnia elektronarzedzi</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div th:replace="fragments.html :: logo"></div>
    <div th:replace="fragments.html :: header"></div>
    <div th:replace="fragments.html :: line"></div>
    <div th:replace="fragments.html :: menu"></div>
    <div th:replace="fragments.html :: line2"></div>
    <div th:replace="fragments.html :: userLogin"></div>

    <div id="content">
        <div id="mainText"><h1> Kontakt </h1></div>
        <h3>
            Chcesz dowiedziec sie wiecej? Zadzwon lub napisz do nas:<br>
            Tel: +48 637 859 002<br>
            E-mail: wypozyczak@gmail.com<br><br>
            Zapraszamy do odwiedzenia naszej placowki:<br>
            Adres: ul. Sienkiewicza 23, Krakow
        </h3>
    </div>
</body>
</html>